body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: whitesmoke !important;
}

h1.title{
    transform: translateY(130px);
    width: 300px;
    text-align: center;
    font-size: 70px;
    margin: auto;
}

header {
    width: 1920px;
    height: 100px;
    position: fixed;
    top: 0;
    background: white;
    display: flex !important;
    flex-direction: row;
}
header h1{
    margin-left: 50px;
    line-height: 100px;
}
footer {
    width: 1920px;
    height: 100px;
    position: fixed;
    bottom: 0;
    background: goldenrod;
    text-align: center;
}

div.medias img {
    width: 70px;
    border-radius: 100%;
}

img.logo {
    height: 80px;
    margin: 5px;
}

a.links {
    /* width: 180px;
    height: 100px; */
    margin: 0 20px 0 20px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    color: goldenrod;
    font-size: 40px;
    transition: 200ms;
}

a.links:hover {
    color: white;
    text-shadow: 0 0 5px orange;
    text-decoration: none;
}

div.carousel {
    width: 800px;
    margin: auto;
    transform: translateY(150px);
    border-radius: 30px;
}

div.carousel-item img {
    width: 800px;
    border-radius: 30px;
}

div.carousel-caption {
    transform: translateX(200px);
}

button.carousel-control-prev,
button.carousel-control-next {
    background: none;
    outline: none;
    border: none;
}

div.card,
div.carousel {
    transition: 300ms;
}

*:is(div.card, div.carousel):hover {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.7);
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}